<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8"/>
	<title>Forum</title>
	<link rel="stylesheet" href="/css/bootstrap-3.3.7-dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/css/bootstrap-3.3.7-dist/css/style.css"/>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/main">Forum</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Kategorie <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li th:each="section : ${sections}"><a
								th:href="@{'/section/' + ${section.id}}"
								th:text="${section.name}"></a></li>
						</ul></li>
						<li><a href="/search">Szukaj</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin</a></li>
					<li sec:authorize="!isAuthenticated()"><a href="/login">Zaloguj
							sie</a></li>
					<li sec:authorize="isAuthenticated()"><a sec:authentication="name" href="/user/account"></a></li>
					<li sec:authorize="isAuthenticated()"><a href="/logout">Wyloguj sie</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<main>
	<div class="container">
		<h1 class="title">Dodaj kategorie</h1>
		
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<form th:action="@{/admin/addSection}" th:object="${section}" method="post">
							<div class="form-group">
								<label for="name">Nazwa Sekcji:</label>
								<input th:field="*{name}" type="text" class="form-control" id="name"/>
								<p class="bg-danger" th:text="${sectionError}"></p>
							</div>
							<button type="submit" class="btn btn-default">Wyślij</button>
							<p class="bg-info" th:text="${sectionMsg}"></p>
						</form>
					</div>
				</div>
			</div>
		</div>


		<h1 class="title">Dodaj tag</h1>
		
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<form th:action="@{/admin/addTag}" th:object="${tag}" method="post">
							<div class="form-group">
								<label for="name">Nazwa Tagu:</label>
								<input th:field="*{name}" type="text" class="form-control" id="name"/>
								<p class="bg-danger" th:text="${tagError}"></p>
							</div>
							<button type="submit" class="btn btn-default">Wyślij</button>
							<p class="bg-info" th:text="${tagMsg}"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</main>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">Wojciech Bać ©</span>
		</div>
	</footer>

	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/css/bootstrap-3.3.7-dist/js/bootstrap.js"></script>	
</body>
</html>